<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@(ViewBag.Title)</title>

	<link href="~/assets/images/endpointmvc-16.png" rel="shortcut icon" type="image/png" />
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="~/assets/images/endpointmvc-144.png">

	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/assets/images/endpointmvc-152.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/assets/images/endpointmvc-152.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/images/endpointmvc-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/assets/images/endpointmvc-120.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/images/endpointmvc-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/images/endpointmvc-72.png">
	<link rel="apple-touch-icon-precomposed" href="~/assets/images/endpointmvc-57.png">
	<link href="~/assets/images/endpointmvc-32.png" sizes="32x32" rel="icon" type="image/png" />
	<meta name="viewport" content="width=device-width" />
	@(Styles.Render ( "~/css/site" ))
	@(RenderSection("styles", required: false))
</head>
<body>
	<header>
		@(Html.Partial ( "_Navbar" ))
	</header>
	<div class="container">
		@(RenderSection ( "featured", required: false ))
		@(RenderBody ( ))
	</div>
	<div class="clear-fix"></div>
	<footer class="navbar-fixed-bottom navbar navbar-default">
		<div class="container">
			<div class="center mts">
				<p>Copyright &copy; Ryan Conrad @DateTime.Now.Year. All Rights Reserved.</p>
			</div>
		</div>
	</footer>

	@(Scripts.Render ( "~/js/jquery" ))
	@(Scripts.Render ( "~/js/bootstrap" ))
	@(Scripts.Render ( "~/js/mousetrap" ))
	@(RenderSection ( "scripts", required: false ))
	@(Html.Partial ( "Analytics" ))
</body>
</html>
