@{
	ViewBag.Title = "EndpointMvc";
}
@section featured {
	<section class="featured jumbotron jumbotron-primary mbn">
		<div class="container">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2 class="muted">Building your endpoint documentation, so you don't have to.</h2>
			</hgroup>
		</div>
	</section>
	@*(Html.Partial("_MetroNavPartial"))*@
}

@(Html.Partial("_NugetPartial"))
@(Html.Partial("_HowItWorksPartial"))
@(Html.Partial("_RegisterRoutesPartial"))
@(Html.Partial("_OutputPartial"))
@(Html.Partial("_AttributesPartial"))
@(Html.Partial("_LicensePartial"))