@{
	ViewBag.Title = "EndpointMvc";
}

@section Styles {
	@(Styles.Render ( "~/bundles/endpointmvc/css" ))
}

@section Scripts {
	@(Html.Partial ( "_SideNavPartial" ))
	@(Scripts.Render ( "~/bundles/endpointmvc/js" ))
}

@section featured {
	<div id="home"></div>
	<section class="featured jumbotron jumbotron-primary mbl">
		<div class="container">
			<div class="title">
				<i class="logo pull-left"></i>
				<h1>@ViewBag.Title.</h1>
				<h2 class="muted">Building your endpoint documentation, so you don't have to.</h2>
			</div>
		</div>
	</section>
}

@(Html.Partial ( "_NugetPartial" ))
@(Html.Partial ( "_HowItWorksPartial" ))
@(Html.Partial ( "_RegisterRoutesPartial" ))
@(Html.Partial ( "_OutputPartial" ))
@(Html.Partial ( "_HtmlInfoPartial" ))
@(Html.Partial ( "_AttributesPartial" ))
@(Html.Partial ( "_LicensePartial" ))
