@using EndpointMvc.Extensions;
@using EndpointMvc.Models;

@model EndpointInfo

<div class="endpoint-info">
	<h3>@Model.Name</h3>
	<div>
		<label>@Html.CheckBoxFor(m => m.Deprecated, new { disabled = "disabled" })@Html.LiteralFor(m => m.Deprecated)</label>
		<label>@Html.CheckBoxFor(m => m.RequiresAuthentication, new { disabled = "disabled" })@Html.LiteralFor(m => m.RequiresAuthentication)</label>
		<label>@Html.CheckBoxFor(m => m.Obsolete, new { disabled = "disabled" })@Html.LiteralFor(m => m.Obsolete)</label>
	</div>
	<div>@Model.Description</div>
	<div class="well">
		<h3>Methods</h3>
		<ul>
			@foreach ( var method in @Model.HttpMethods ) {
				<li>@method</li>
			}
		</ul>
	</div>
	<div class="well">
		<h3>Parameters</h3>
		@Html.DisplayFor(m => m.Params)
	</div>

</div>