@model EndpointMvc.Models.EndpointService

<div class="media mll ptl">
	<h2 class="media-heading">@Model.Name</h2>
	<div class="media-body" id="@Model.QualifiedName.Replace(".","_")">
		@if(!String.IsNullOrWhiteSpace(Model.Description) ) {
			<blockquote class="alert alert-info">@Model.Description</blockquote>
		}
		@if ( Model.Properties.Count > 0 ) {
		<table class="table table-bordered table-condensed ">
			@Html.Partial("_CustomProperties",Model.Properties)
		</table>
		}
		<div class="media">
			<div class="media-body">
				@foreach ( var item in Model.EndpointList ) {
					@Html.DisplayFor(m => item)
				}
			</div>
		</div>
	</div>
</div>