@using EndpointMvc.Extensions;
@using EndpointMvc.Models;

@model EndpointInfo

@{
	var obsolete = Model.Properties.FirstOrDefault ( m => m.Key.Equals ( "Obsolete" ) );
	var deprecated = Model.Properties.FirstOrDefault ( m => m.Key.Equals ( "Deprecated" ) );
	var area = ViewContext.RouteData.Values["area"];
}

<div class="endpoint-info media mll" id="@Model.QualifiedName.Replace(".","_")">
	<h3 class="media-heading">@Model.Name <small class="nowrap">
		<abbr data-bootstrap-tooltip="" title="@Model.QualifiedReturnType">
			@Model.ReturnType
		</abbr></small>
	</h3>
	<div class="media-body">
		@if ( obsolete != null && (bool)obsolete.Value && !String.IsNullOrWhiteSpace(obsolete.Description) )  {
			<div class="alert alert-error">@obsolete.Description</div>
		}
		@if ( deprecated != null && (bool)deprecated.Value && !String.IsNullOrWhiteSpace ( deprecated.Description ) ) {
			<div class="alert">@deprecated.Description</div>
		}
		@if(!String.IsNullOrWhiteSpace(Model.Description) ) {
			<blockquote class="alert alert-info">@Model.Description</blockquote>
		}
		<blockquote class="alert alert-success">@Model.Url</blockquote>
		<table class="table table-bordered table-condensed ">
			@Html.Partial("_CustomProperties",Model.Properties)
		</table>
		@if ( Model != null && Model.ContentTypes.Count > 0 ) {
		<div>
			<table class="table table-bordered table-condensed">
				<tr>
					<th class="muted">Content Types</th>
				</tr>
				@foreach ( var item in Model.ContentTypes ) {
					<tr>
						<td class="muted">@item</td>
					</tr> 
				}
			</table>
		</div>
		}
		<div class="media">
			<h4 class="media-heading muted">Methods</h4>
			<div class="media-body mll">
				<ul class="unstyled">
					@foreach ( var method in @Model.HttpMethods ) {
						<li class="muted"><strong><em>@method</em></strong></li>
					}
				</ul>
			</div>
		</div>
		@if ( Model.Params.Count > 0 ) {
		<div class="media">
			<h4 class="media-heading muted">Parameters</h4>
			<div class="media-body">
				<div class="media">
					@Html.DisplayFor(m => m.Params)
				</div>
			</div>
		</div>
		}
	</div>
</div>
