@using EndpointMvc.Extensions;
@using EndpointMvc.Models;

@model ParamInfo

<div>
	<h4>@Model.Name <small>@Model.Type</small></h4>
	<div>@Model.Description</div>
	@if( Model.Default != null ) {
		<div>@Model.Default</div>
	}
	<table class="table table-bordered table-condensed">
		<tr>
			<th>@Html.LiteralFor(m => m.Optional)</th>
		</tr>
		<tr>
			<td>@Html.CheckBoxFor(m => m.Optional, new { disabled = "disabled" } ) </td>
		</tr>
	</table>
	<div>Default: <small>@(Model.Default == null ? "null": Model.Default.ToString())</small></div>
	<hr />
</div>