@using EndpointMvc.Extensions;
@using EndpointMvc.Models;

@model ParamInfo

<div>
	<h4>@Model.Name <span class="endpoint-type small">@Model.Type</span></h4>
	<div>@Model.Description</div>
	@if( Model.Default != null ) {
		<div>@Model.Default</div>
	}
	<label>@Html.CheckBoxFor(m => m.Optional, new { disabled = "disabled" } ) 
	@Html.LiteralFor(m => m.Optional)</label>
</div>