<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/bootstrap/css")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
          @Html.Partial("_Navbar")
        </header>
        <div class="container">
            @RenderSection("featured", required: false)
            <section class="mtl clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer class="navbar-fixed-bottom">
            <div class="container">
                <div class="float-left">
                    <p>Copyright &copy; Ryan Conrad @DateTime.Now.Year. All Rights Reserved.</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bootstrap/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
