
<nav class="navbar-fixed-top navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="@Url.Action("","")">EndpontMvc</a>
			<ul class="nav">
				<li class="divider-vertical"></li>
				<li class="dropdown"><a href="#" data-toggle="dropdown">Documentation</a>
					<ul class="dropdown-menu">
						<li>@Html.ActionLink("Home","","")</li>
						<li class="divider"></li>
						<li><a href="@Url.Action("","")#nuget" class="track">Nuget</a></li>
						<li><a href="@Url.Action("","")#how-it-works" class="track">How it works</a></li>
						<li><a href="@Url.Action("","")#register-routes" class="track">Register Routes</a></li>
						<li><a href="@Url.Action("","")#output" class="track">Output</a></li>
						<li><a href="@Url.Action("","")#attributes" class="track">Attributes</a></li>
						<li class="divider"></li>
						<li><a href="@Url.Action("","")#license" class="track">License</a></li>
					</ul>
				</li>
				<li>@Html.ActionLink("Demo", "", "endpoints")</li>
				<li class="divider-vertical"></li>
				<li><a href="https://github.com/camalot/endpointmvc/" class="track">Source Code</a></li>
				<li><a href="https://nuget.org/packages/endpointmvc/" class="track">Nuget Package</a></li>
				<li class="divider-vertical"></li>
				<li><a href="https://github.com/camalot/EndpointMvc/blob/master/LICENSE.md" class="track">License</a></li>
			</ul>
		</div>
	</div>
</nav>