@using EndpointMvc.Models;

@model DefineData
@{
	ViewBag.Title = Model.Name;
}

@section Styles {
	@(Styles.Render ( "~/bundles/endpointmvc/css" ))
}

@section Scripts {
	@(Scripts.Render ( "~/bundles/endpointmvc/js" ))
}

<div class="container epm-content phl mvl">
	@* You can remove this but I would appreciate if you left it in *@
	@(Html.Partial ( "_AdsensePartial" ))
	@****************************************************************@
	<div class="row man pan">
		<div class="col-md-12 man pan">
			<div class="page-header">
				<h2 class="zero">
					<a href="@(Url.Action("",new { controller = "endpoints" }))" title="Back to endpoints"><i class="fa-arrow-left fa mrm"></i></a>
					<i class="fa fa-code-fork mrm"></i>@Model.Name
				</h2>
			</div>
			@if ( Model.Properties.Count > 0 ) {
				<div class="col-md-12 man pan">
					<div class="media man pan">
						<h4 class="media-heading text-muted">Properties</h4>
						@(Html.DisplayFor ( m => m.Properties ))
					</div>
				</div>
			}
			@if ( Model.Fields.Count > 0 ) {
				<div class="col-md-12 man pan">
					<div class="media man pan">
						<h4 class="media-heading text-muted">Fields</h4>
						@(Html.DisplayFor ( m => m.Fields ))
					</div>
				</div>
			}
		</div>
	</div>
	@* You can remove this but I would appreciate if you left it in *@
	@(Html.Partial ( "_AdsensePartial" ))
	@****************************************************************@

	@* This must remain in the view *@
	@(Html.Partial ( "_PoweredByPartial" ))
</div>
