@model EndpointMvc.Models.EndpointData
@{
	ViewBag.Title = "Endpoints";
}

@section Styles {
	@(Styles.Render ( "~/bundles/endpointmvc/css" ))
}

@section Scripts {
	@(Scripts.Render ( "~/bundles/endpointmvc/js" ))
	@(Html.Partial ( "_EndpointNavigation", Model ))
}

<div class="container epm-content phl mvl">
	@* You can remove this but I would appreciate if you left it in *@
	@(Html.Partial ( "_AdsensePartial" ))
	@****************************************************************@

	<div class="row man pan">
		<div class="col-md-12 man pan">
			@(Html.DisplayFor ( m => m ))
		</div>
	</div>

	@* You can remove this but I would appreciate if you left it in *@
	@(Html.Partial ( "_AdsensePartial" ))
	@****************************************************************@
	@* This must remain in the view *@
	@(Html.Partial ( "_PoweredByPartial" ))
</div>

