@model EndpointMvc.Models.EndpointService
@{
	var obsolete = Model.Properties.FirstOrDefault ( m => m.Key.Equals ( "Obsolete" ) );
	var deprecated = Model.Properties.FirstOrDefault ( m => m.Key.Equals ( "Deprecated" ) );
}

<div class="mll pan">
	<div class="page-header">
		<h2 class="zero"><i class="fa fa-code-fork mrm"></i>@Model.Name</h2>
	</div>
	<div class="media-body" id="@Model.QualifiedName.Replace(".","_")">
		@if(obsolete != null && (bool)obsolete.Value && !String.IsNullOrWhiteSpace(obsolete.Description)) {
			<div class="callout callout-error">@obsolete.Description</div>
		}
		@if(deprecated != null && (bool)deprecated.Value && !String.IsNullOrWhiteSpace(deprecated.Description)) {
			<div class="callout">@deprecated.Description</div>
		}

		@if(!String.IsNullOrWhiteSpace(Model.Description) ) {
			<blockquote class="pam mvm text-muted">@Model.Description</blockquote>
		}

		@Html.DisplayFor( m => m.Gists )

		@if ( Model.Properties.Count > 0 ) {
		<table class="table table-bordered table-condensed ">
			@Html.Partial("_CustomProperties",Model.Properties)
		</table>
		}
		<div>
			<div class="media-body">
				@foreach ( var item in Model.EndpointList ) {
					@Html.DisplayFor(m => item)
				}
			</div>
		</div>
	</div>
</div>